<footer class='footer'>
	<div class="container-fluid bg-dark p-5">
		<div class="row">
			<div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
				<a href="/staffs/login" class='text-white text-decoration-none'>Staffs</a>
			</div>
			<div class="col-md-4">
				<p class='fs-3 text-white text-center'>TakeOut | Allrights Reserved &copy; 2021</p>
			</div>
			<div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
				<a href="/rights" class='text-white text-decoration-none'>Customers rights</a>
				<a href="https://japsiee.github.io/portfolio/" class='text-white text-decoration-none' target="_blank">Developer</a>
			</div>
		</div>
	</div>
	<script src="/dom.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>