<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-1 px-lg-5 py-3 fw-bold">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase fs-1" href="/"><i class="bi bi-brightness-high-fill"></i> Takeout</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end text-center navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav fs-4">
        <a class="nav-link mx-2" href="/orders/track">Track Order</a>
        <a class="nav-link mx-2" href="/orders/">Menu</a>
        <a class="nav-link mx-2" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</nav>