<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-404">
      <h1 class="title">Status code 404</h1>
      <p class="subtitle">Oops! there is nothing here</p>
      <a href="/">Go Back</a>
    </div>
    <footer></footer>
    <script
      src="/dom.js"
      type="text/javascript"
      charset="utf-8"
      async
      defer
    ></script>
  </body>
</html>
