<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/navbar.ejs') %>
	<section id="track">
		<div class="container-fluid bg-dark d-flex flex-column justify-content-center align-items-center" style="height: 80vh">
			<form action="/orders/track" method="POST" accept-charset="utf-8">
				<h1 class="display-1 text-white">Track Your Order</h1>
				<input type="text" name="oid" id="oid" placeholder="Order ID Number" class='py-2 px-3 my-4 border-0 w-100 text-center fs-3'>
				<div class="d-flex justify-content-center">
					<button class="btn btn-danger btn-lg" type='submit' id="oidsubmit" disabled="true">Track Order</button>
				</div>
			</form>
		</div>
	</section>
	<%- include('./partials/footer.ejs') %>
<script>
	const inputOid = document.querySelector('#oid');
	const submitOid = document.querySelector('#oidsubmit')
	const rgxvalidator = /^[0-9]+$/;
	
	inputOid.addEventListener('keyup', e => {
		if (!rgxvalidator.test(inputOid.value)) {
			submitOid.setAttribute("disabled", "true");
		} else {
			submitOid.removeAttribute("disabled");
		}
	})
</script>
</body>
</html>